<div class="container-fluid p-0 m-0 bg-image">
  <div class="d-flex justify-content-center align-items-center py-4" style="background-color: rgba(42,46,59,0.61) !important;backdrop-filter: blur(4px)">
    <div class="col-lg-10 col-md-11 col-sm-12 col-12 d-flex justify-content-center align-items-center">
      <div class="row container-fluid p-0 m-0">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12  d-flex justify-content-center flex-column" style="min-height: 300px">
           <div class="d-footer justify-content-center flex-column">
             <p class="text-light mb-3" style="font-weight: lighter">
               Site made with Angular,Bootstrap,<br>
               Do you wanna know, how we build <a routerLink="/about" class="text-light text-decoration-none" style="font-weight: normal">it</a>
             </p>
             <p class="text-light mb-3" style="font-weight: lighter">
               <a class="rounded-4 main-btn text-white border-0" style="padding-left: 5px" mat-stroked-button routerLink="/">
                 <mat-icon class="text-danger">hdr_strong</mat-icon>
                 FaneDesign</a> @2022
             </p>
             <p class="text-light mb-3" style="font-weight: lighter">
               <a routerLink="/tearms" class="text-light text-decoration-none" style="font-weight: normal">Tearms of Services</a> - <a routerLink="/policy" class="text-light text-decoration-none" style="font-weight: normal">Privacy Policy</a>
             </p>
             <p class="text-light mb-3" style="font-weight: lighter">
               Need help ? <a routerLink="/contact-us" class="text-light text-decoration-none" style="font-weight: normal">Contact Us</a>
             </p>
           </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-flex justify-content-center flex-column">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-3  d-footer justify-content-center align-items-center">
                  <a class="mx-3 rounded-4 main-btn text-white border-0" mat-stroked-button routerLink="/">Home</a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-3  d-footer justify-content-center align-items-center">
                  <a class="mx-3 rounded-4 main-btn text-white border-0" mat-stroked-button routerLink="/produits">Produits</a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-3  d-footer justify-content-center align-items-center">
                  <a class="mx-3 rounded-4 main-btn text-white border-0" mat-stroked-button routerLink="/ressources">Ressources</a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-3  d-footer justify-content-center align-items-center">
                  <a class="mx-3 rounded-4 main-btn text-white border-0" mat-stroked-button routerLink="/pricing">Pricing</a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-3  d-footer justify-content-center align-items-center">
                  <a class="mx-3 rounded-4 main-btn text-white border-0" mat-stroked-button routerLink="/products/angular">Angular JS</a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-3  d-footer justify-content-center align-items-center">
                  <a class="mx-3 rounded-4 main-btn text-white border-0" mat-stroked-button routerLink="/products/html-css-bootstrap">HTML & CSS</a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-3  d-footer justify-content-center align-items-center">
                  <a class="mx-3 rounded-4 main-btn text-white border-0" mat-stroked-button routerLink="/products/reactjs">React JS</a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-3  d-footer justify-content-center align-items-center">
                  <a class="mx-3 rounded-4 main-btn text-white border-0" mat-stroked-button routerLink="/products/symphony">Symphony</a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6 mb-3  d-footer justify-content-center align-items-center">
                  <a class="mx-3 rounded-4 main-btn text-white border-0" mat-stroked-button routerLink="/products/laravel">Laravel PHP</a>
                </div>
            </div>
      </div>
        <div class="d-flex justify-content-center align-items-center">
          <div>
            <p class="text-light mb-3" style="font-weight: lighter">
              All rights reserved to
              <a class="mx-3 rounded-4 main-btn text-white border-0" mat-stroked-button routerLink="/">
                <mat-icon class="text-danger">hdr_strong</mat-icon>
                FaneDesign</a>
            </p>
          </div>
        </div>
    </div>
  </div>
</div>
