<div class="container-fluid px-0 m-0 bg-image">
  <div class="d-flex justify-content-center align-items-center py-3" style="background-color: rgba(42,46,59,0.6) !important;min-height: 80vh;backdrop-filter: blur(4px)">
    <div class="col-lg-10 col-md-11 col-sm-12 col-12 d-flex flex-column align-items-center" style="margin-top: 20vh;">
      <div class="col-lg-4 col-md-6 col-sm-10 d-flex align-items-center flex-column">
        <h1 class="text-white text-center" style="font-weight: 600;font-size: 30px;">
          Check why it is worthing choosing us {{productName ? productName:''}}
        </h1>
        <div class="container-fluid my-4">
            <div class="d-flex justify-content-center shadow align-items-center rounded-pill px-2" style="background-color: rgba(75, 82, 106, 0.65) !important;backdrop-filter: blur(4px);">
              <input type="search" placeholder="Recherche" style="height: 45px;letter-spacing: 1px" class="form-control-sm search-product form-control bg-transparent shadow-none ms-1 border-0 text-white"/>
              <button class="text-white" mat-icon-button>
                 <mat-icon>search</mat-icon>
              </button>
            </div>
        </div>
      </div>
      <div class="row container-fluid p-0 mx-0 my-5">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 my-3" *ngFor="let service of jobs">

          <mat-card class="items-choose btn">
            <img mat-card-image [src]="service._icon" alt="Photo of a Shiba Inu">
            <mat-card-header>
              <mat-card-title class="mb-0"><span class="text-white" style="font-size: medium">{{service.title}}</span></mat-card-title>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
