<div class="container-fluid px-0 m-0 bg-image">
  <div class="d-flex justify-content-center align-items-center py-3" style="background-color: rgba(42,46,59,0.6) !important;min-height: 80vh;backdrop-filter: blur(4px)">
    <div class="col-lg-10 col-md-11 col-sm-12 col-12 d-flex flex-column align-items-center" style="margin-top: 20vh;">
      <div class="col-lg-4 col-md-6 col-sm-10 d-flex align-items-center flex-column">
        <h1 class="text-white text-center" style="font-weight: 600;font-size: 30px;">
          Check why it is worthing choosing us {{productName ? productName:''}}
        </h1>
        <div class="container-fluid my-4">
            <div class="d-flex justify-content-center shadow align-items-center rounded-pill px-2" style="background-color: rgba(75, 82, 106, 0.65) !important;backdrop-filter: blur(4px);">
              <input type="search" placeholder="Recherche" style="height: 45px;letter-spacing: 1px" class="form-control-sm search-product form-control bg-transparent shadow-none ms-1 border-0 text-white"/>
              <button class="text-white" mat-icon-button>
                 <mat-icon>search</mat-icon>
              </button>
            </div>
        </div>
      </div>
      <div class="container-fluid my-4 flex-wrap d-flex justify-content-center align-items-center">
          <div class="me-3">
            <button class="rounded-4 main-btn text-white border-0" style="background-color: rgba(75, 82, 106, 0.35) !important;backdrop-filter: blur(4px);" mat-stroked-button [matMenuTriggerFor]="produits">
              {{categoryFilter?categoryFilter:'Categories'}} <mat-icon>expand_more</mat-icon></button>
            <mat-menu class="ressources" #produits="matMenu" yPosition="below">
                <button (click)="onCategorySelect('Angular JS')" mat-menu-item class="text-white main-btn">
                  <img src="assets/icons/angular.png" style="width: 25px;margin-right:10px;height: auto" alt="">Angular JS
                </button>
                <button (click)="onCategorySelect('React Js')" mat-menu-item class="text-white main-btn">
                  <img src="assets/icons/reactjs.png" style="width: 25px;margin-right:10px;height: auto" alt="">React Js
                </button>
                <button (click)="onCategorySelect('HTML & CSS & Bootstrap')" mat-menu-item class="text-white main-btn">
                  <img src="assets/icons/html_css_bootstrap.png" style="width: 25px;margin-right:10px;height: auto" alt="">HTML & CSS & Bootstrap
                </button>
                <button (click)="onCategorySelect('Symphony')" mat-menu-item class="text-white main-btn">
                  <img src="assets/icons/symphony.png" style="width: 25px;margin-right:10px;height: auto" alt="">Symphony
                </button>
                <button (click)="onCategorySelect('Laravel PHP')" mat-menu-item class="text-white main-btn">
                  <img src="assets/icons/laravel.png" style="width: 25px;margin-right:10px;height: auto" alt="">Laravel PHP
                </button>

                <button (click)="onCategorySelect('Photoshop')" mat-menu-item class="text-white main-btn">
                  <img src="assets/icons/photoshop.png" style="width: 25px;margin-right:10px;height: auto" alt="">Photoshop
                </button>
                <button (click)="onCategorySelect('Illustrator')" mat-menu-item class="text-white main-btn">
                  <img src="assets/icons/illustrator.png" style="width: 25px;margin-right:10px;height: auto" alt="">Illustrator
                </button>
                <button (click)="onCategorySelect('Premiere Pro')" mat-menu-item class="text-white main-btn">
                  <img src="assets/icons/premiere_pro.png" style="width: 25px;margin-right:10px;height: auto" alt="">Premiere Pro
                </button>
                <button (click)="onCategorySelect('After Effect')" mat-menu-item class="text-white main-btn">
                  <img src="assets/icons/after_effect.png" style="width: 25px;margin-right:10px;height: auto" alt="">After Effect
                </button>
            </mat-menu>
          </div>
        <div class="me-3">
          <button class="rounded-4 main-btn text-white border-0" style="background-color: rgba(75, 82, 106, 0.35) !important;backdrop-filter: blur(4px);" mat-stroked-button [matMenuTriggerFor]="year">
            {{yearFilter ?yearFilter:'Années'}}
            <mat-icon>expand_more</mat-icon></button>
          <mat-menu class="ressources" #year="matMenu" yPosition="below">
              <button mat-menu-item (click)="onYearSelect('2020')" class="text-white main-btn">2020</button>
              <button mat-menu-item (click)="onYearSelect('2021')" class="text-white main-btn">2021</button>
              <button mat-menu-item (click)="onYearSelect('2022')" class="text-white main-btn">2022</button>
              <button mat-menu-item (click)="onYearSelect('2023')" class="text-white main-btn">2023</button>
          </mat-menu>
        </div>
        <div class="me-3">
          <button class="rounded-4 main-btn text-white border-0" style="background-color: rgba(75, 82, 106, 0.35) !important;backdrop-filter: blur(4px);" mat-stroked-button [matMenuTriggerFor]="type">
            {{typeFilter?typeFilter:'Type'}}
            <mat-icon>expand_more</mat-icon></button>
          <mat-menu class="ressources" #type="matMenu" yPosition="below">
            <button mat-menu-item (click)="onTypeSelect('STANDARD')" class="text-white main-btn">STANDARD</button>
            <button mat-menu-item (click)="onTypeSelect('PRO')" class="text-white main-btn">PRO</button>
            <button mat-menu-item (click)="onTypeSelect('PRENIUM')" class="text-white main-btn">PRENIUM</button>
          </mat-menu>
        </div>
      </div>
      <div class="row container-fluid p-0 mx-0 my-5">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 my-3" *ngFor="let service of jobs;let i=index">

          <mat-card [routerLink]="['/products/detail', i, 'view']" class="items-choose btn">
            <img mat-card-image [src]="service._icon" [alt]="service.title">
            <mat-card-header>
              <img [src]="service._src" style="height: 25px;width: auto" mat-card-avatar alt="">
              <mat-card-title class="mb-0"><span class="text-white" style="font-size: medium">{{truncate(service.title,20)}}</span></mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p class="text-start text-muted">{{truncate(service.description,100)}}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div>
        <button class="rounded-4 main-btn text-white border-0" color="primary" style="margin-left: 20px;background-color: rgba(75, 82, 106, 0.3) !important;backdrop-filter: blur(4px);" mat-stroked-button>
          PLUS
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
