<div class="container-fluid p-0 m-0 bg-image">
  <div class="d-flex justify-content-center align-items-center" style="background-color: rgba(42,46,59,0.63) !important;min-height: 80vh;backdrop-filter: blur(4px)">
    <div class="col-lg-10 col-md-11 col-sm-12 col-12 d-flex justify-content-center align-items-center" style="margin-top: 15vh;background-color: ">
      <div class="row container-fluid p-0 m-0">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4 rounded" style="">
          <img class="rounded-4" style="height: auto;width: 100%" src="assets/images/bg-01.png" alt="">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4 rounded"  style="min-height:400px">
          <div class="container">
            <h1 class="text-white d-inline-block mb-3" style="font-weight: bolder">Wedding flyer 2022 trending</h1>
            <p style="color: #d2d2d2;font-weight: normal">
              Carbide is a fully remote organization that appreciates the quality of life benefits of working from home.
              We have flexible working hours, as well as allotted vacation and health maintenance time.
              Team members enjoy comprehensive healthcare benefits, fully-funded professional development opportunities,
              and memberships to professional organizations. We work hard to put processes into place to help ensure
              our developers aren’t on call 24-7, aren’t working on weekends or pulling insane amounts of overtime.
              We have rarely had to ask for developers to do overtime during a crunch,
              or to pull out the stops on weekends. We very rarely need to respond to late-night emergencies.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
