<!--Welcome side-->
<div class="container-fluid p-0 m-0 bg-image" style="background-image: url('assets/images/bg-03.png');background-position: center right;background-repeat: no-repeat;background-size: contain;">
  <div class="d-flex justify-content-center align-items-center" style="background-color: rgba(42,46,59,0.6) !important;backdrop-filter: blur(8px)">
    <div class="col-lg-10 col-md-11 col-sm-12 col-12 d-flex justify-content-center align-items-center" style="height: 820px">
        <div class="row container-fluid p-0 m-0">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <h1 class="text-white" style="font-weight: 600;font-size: 70px;line-height: 80px">
                  We know how <br>
                  to keep your <br>
                  finances in check <br>
                </h1>
                <div class="d-flex align-items-center">
                  <a class="mx-3 rounded-4 button-86 main-btn btn-lg text-white border-0 px-3 py-1 bg-image" mat-stroked-button style="font-size: medium" routerLink="/">Templates</a>
                  <a class="mx-3 rounded-4 button-86 main-btn btn-lg text-white border-0 px-3 py-1" mat-stroked-button style="font-size: medium" routerLink="/">About us</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12"  style="min-height:400px;background-image: url('assets/images/collab.svg');background-position: center;background-repeat: no-repeat;background-size: contain">

            </div>
        </div>
    </div>
  </div>
</div>

<!--Partenaires-->
<div class="container-fluid p-0 m-0 bg-image">
  <div class="d-flex justify-content-center align-items-center py-3" style="background-color: rgba(42,46,59,0.6) !important;backdrop-filter: blur(4px)">
    <div class="col-lg-10 col-md-11 col-sm-12 col-12 d-flex flex-column align-items-center">
      <div class="">
        <h1 class="text-white text-center" style="font-weight: 600;font-size: 30px;max-width: 400px">
          Nos partenaires
        </h1>
      </div>
      <div class="row container-fluid p-0 mx-0 my-3">
          <carousel [loop]="true" [freeScroll]="true" [lightDOM]="true" style="z-index:-1" class="carousel--slider-alignment" [autoplay]="true" transitionTimingFunction="ease-in-out" arrowsTheme="dark">
            <div *ngFor="let srcImg of logos" class="carousel-cell">
              <img [src]="srcImg" class="mx-2 rounded p-2" style="height: 70px;width: auto;z-index: -1;" alt="">
            </div>
          </carousel>
      </div>
    </div>
  </div>
</div>
<!--Reason we're here-->
<div class="container-fluid p-0 m-0 bg-image">
  <div class="d-flex justify-content-center align-items-center py-3" style="background-color: rgba(42,46,59,0.6) !important;backdrop-filter: blur(4px)">
    <div class="col-lg-10 col-md-11 col-sm-12 col-12 d-flex flex-column align-items-center">
      <div class="">
        <h1 class="text-white text-center" style="font-weight: 600;font-size: 30px;max-width: 400px">
          Check why it is worthing choosing us
        </h1>
      </div>
      <div class="row container-fluid p-0 mx-0 my-5">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 my-2" *ngFor="let service of jobs">
          <div class="container-fluid p-3 d-flex items-choose justify-content-center align-items-center flex-column">
              <div>
                <mat-icon>{{service._icon}}</mat-icon>
              </div>
              <h3 class="text-white p-0 m-0" style="font-weight: 600;">
                {{service.title}}
              </h3>
              <p class="text-muted text-center">
                {{service.description}}
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Welcome side 01-->
<div class="container-fluid p-0 m-0 bg-image"  style="background-image: url('assets/images/bg-04.png');background-position: center left;background-repeat: no-repeat;background-size: contain;">
  <div class="d-flex justify-content-center align-items-center py-4" style="background-color: rgba(42,46,59,0.6) !important;backdrop-filter: blur(4px)">
    <div class="col-lg-10 col-md-11 col-sm-12 col-12 d-flex justify-content-center align-items-center">
      <div class="row container-fluid p-0 m-0">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12"  style="min-height:400px;background-image: url('assets/images/connected.svg');background-position: center;background-repeat: no-repeat;background-size: contain;">

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-flex justify-content-center flex-column" style="min-height: 300px">
          <h1 class="text-white" style="font-weight: 600;">
            We know how to keep your <br> finances in check
          </h1>
          <p class="text-muted">
            Google Fonts is a library of 1,405 open source font families and APIs for
            convenient use via CSS and Android. The library also has delightful and beautifully
            crafted icons for common actions and items. Download them for use in your digital
            products for Android, iOS, and web.
          </p>
          <div>
            <a class="rounded-4 main-btn button-86 btn-lg text-white border-0 px-3 py-1 bg-overlay" mat-stroked-button style="font-size: medium" routerLink="/">Templates</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Welcome side 02-->
<div class="container-fluid p-0 m-0 bg-image bg-image">
  <div class="d-flex justify-content-center align-items-center py-4" style="background-color: rgba(42,46,59,0.6) !important;backdrop-filter: blur(4px)">
    <div class="col-lg-10 col-md-11 col-sm-12 col-12 d-flex justify-content-center align-items-center bg-light-drop">
      <div class="row container-fluid py-2 m-0">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-flex justify-content-center flex-column" style="min-height: 300px">
          <h1 class="text-white" style="font-weight: 600;">
            The Integration of <br> Technology and Design
          </h1>
          <p class="text-muted">
            Google Fonts is a library of 1,405 open source font families and APIs for
            convenient use via CSS and Android. The library also has delightful and beautifully
          </p>
          <div class="d-flex align-items-center my-2 text-white items-integrations" *ngFor="let i of [1,2,3]">
            <button mat-icon-button class="bg-overlay d-flex justify-content-center align-items-center" disabled style="width: 25px;height: 25px"><mat-icon class="text-white" style="font-size: medium">check</mat-icon> </button>
            <span class="mx-3">Most Secure one  from E2E</span>
          </div>
          <div>
            <a class="rounded-4 main-btn button-86 btn-lg bg-overlay text-white mt-3 border-0 px-3 py-1" mat-stroked-button style="font-size: medium" routerLink="/">Templates</a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12"  style="min-height:400px;background-image: url('assets/images/chatting.svg');background-position: center;background-repeat: no-repeat;background-size: contain;">

        </div>
      </div>
    </div>
  </div>
</div>

<!--Welcome side 03-->
<div class="container-fluid p-0 m-0 bg-image" style="background-image: url('assets/images/bg-03.png');background-position: center left;background-repeat: no-repeat;background-size: contain;">
  <div class="d-flex justify-content-center align-items-center py-4" style="background-color: rgba(42,46,59,0.6) !important;backdrop-filter: blur(4px)">
    <div class="col-lg-10 col-md-11 col-sm-12 col-12 d-flex justify-content-center align-items-center">
      <div class="row container-fluid p-0 m-0">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12"  style="min-height:400px;background-image: url('assets/images/connecting_teams.svg');background-position: center;background-repeat: no-repeat;background-size: contain;">

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-flex justify-content-center flex-column" style="min-height: 300px">
          <h1 class="text-white" style="font-weight: 600;">
            Adaptability of design View
          </h1>
          <p class="text-muted">
            Google Fonts is a library of 1,405 open source font families and APIs for
            convenient use via CSS and Android. The library also has delightful and beautifully
          </p>
          <div class="d-flex align-items-center my-2 text-white items-integrations" *ngFor="let i of [1,2,3]">
            <button mat-icon-button class="bg-overlay d-flex justify-content-center align-items-center" disabled style="width: 25px;height: 25px"><mat-icon class="text-white" style="font-size: medium">check</mat-icon> </button>
            <span class="mx-3">Most Secure one  from E2E</span>
          </div>
          <div>
            <a class="rounded-4 main-btn button-86 bg-overlay btn-lg text-white border-0 mt-3 px-3 py-1" mat-stroked-button style="font-size: medium" routerLink="/">Templates</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Welcome side 04-->
<div class="container-fluid p-0 m-0 bg-image" style="background-image: url('assets/images/bg-04.png');background-position: center;background-repeat: repeat-x;background-size: contain;">
  <div class="d-flex justify-content-center align-items-center py-4" style="background-color: rgba(42,46,59,0.6) !important;backdrop-filter: blur(4px)">
    <div class="col-lg-10 col-md-11 col-sm-12 col-12 d-flex justify-content-center align-items-center flex-column">
      <div class="mb-4">
        <h1 class="text-white text-center" style="font-weight: 600;font-size: 30px;max-width: 400px">
          Check why it is worthing choosing us
        </h1>
      </div>
      <div class="row container-fluid p-0 m-0">
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 d-flex flex-column" style="min-height: 300px">
              <div class="d-flex rounded bg-overlay card shadow p-3 mb-3 justify-content-end flex-column" *ngFor="let service of services1">
                  <button class="text-white bg-overlay" mat-icon-button><mat-icon>{{service._icon}}</mat-icon></button>
                  <h2 class="text-white m-0">{{service.title}}</h2>
                  <p class="text-muted">
                    {{service.description}}
                  </p>
              </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 rounded"  style="min-height:400px;background-image: url('assets/images/mobile.png');background-position: center;background-repeat: no-repeat;background-size: contain;">

        </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 d-flex justify-content-center flex-column" style="min-height: 300px">
              <div class="d-flex rounded bg-overlay card shadow p-3 mb-3 justify-content-end flex-column" *ngFor="let service of services2">
                <button class="text-white bg-overlay" mat-icon-button><mat-icon>{{service._icon}}</mat-icon></button>
                <h2 class="text-white m-0">{{service.title}}</h2>
                <p class="text-muted">
                  {{service.description}}
                </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Welcome side 05-->
<div class="container-fluid p-0 m-0 bg-image">
  <div class="d-flex justify-content-center align-items-center py-4" style="background-color: rgba(42,46,59,0.6) !important;backdrop-filter: blur(4px)">
    <div class="col-lg-10 col-md-11 col-sm-12 col-12 d-flex justify-content-center align-items-center">
      <div class="row container-fluid p-0 m-0">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-flex justify-content-center flex-column" style="min-height: 300px">
          <h1 class="text-white" style="font-weight: 600;">
            The Integration of <br> Technology and Design
          </h1>
          <p class="text-muted">
            Google Fonts is a library of 1,405 open source font families and APIs for
            convenient use via CSS and Android. The library also has delightful and beautifully
            crafted icons for common actions and items. Download them for use in your digital
            products for Android, iOS, and web.
          </p>
          <div>

            <a class="rounded-4 main-btn button-86 btn-lg text-white border-0 px-3 py-1 bg-overlay" mat-stroked-button style="font-size: medium" routerLink="/">Templates</a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="min-height:400px;background-image: url('assets/images/mobile_03.png');background-position: center;background-repeat: no-repeat;background-size: contain;">

        </div>
      </div>
    </div>
  </div>
</div>
